.service-card {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.text-primary {
    color: #044226 !important;
}

.bg-light {
    background-color: #84b073 !important;
}

.lead {
    font-size: 3.25rem;
    font-weight: 300;
}

.service-card .card-body {
    background: white;
    border-radius: 1rem;
}

.service-card:hover .card-body {
    background: linear-gradient(to bottom right, #ffffff, #f8f9fa);
}